{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="position:fixed;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'plug_mate_app:index' %}">
        <div class="sidebar-brand-icon">
            <img id="plug_mate_logo" src="">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link " href="{% url 'plug_mate_app:index' %}">
            {#          <i class="fas fa-fw fa-tachometer-alt"></i>#}
            <span style="font-size: 0.8rem">ENERGY DASHBOARD</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Control Interface -->
    <li class="nav-item active">
        <a class="nav-link  dashboard" href="{% url 'plug_mate_app:control_interface' %}">
            {#          <i class="fas fa-fw fa-tachometer-alt"></i>#}
            <span style="font-size: 0.8rem">CONTROL INTERFACE</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <div style="position: absolute; bottom: 0;">
            <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item active">
            <a class="nav-link " href="{% url 'plug_mate_app:about_us' %}">
              <span style="font-size: 0.8rem;">ABOUT US</span></a>
          </li>
        </div>
</ul>
<!-- End of Sidebar -->