/** style the final component that includes the icon, name, and dropdown **/

/** position the dropdown **/
.dropdownPresence {
  width: 220px;
  height: 1px;
  overflow-y: visible;
}

/** style the box **/
.containerPresence {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 280px;
  margin-bottom: 100px
}

/** position the icon and name **/
.iconPresence {
  float: left;
}
