{% extends 'base.html' %}
{% load static %}
{%  block content %}
    {%  load plotly_dash %}

    <!-- Real-Time Power Consumption -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: medium">Real-Time Power Consumption</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">25 W</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-gas-pump fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Aggregated Energy Consumption -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="font-size: medium">Aggregated Energy Consumption (Daily)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">100 kwh</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-charging-station fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tasks Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-size: medium">Daily Progress</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <!-- Energy Tips Card Example -->#}
{#    <div class="col-xl-3 col-md-6 mb-4">#}
{#        <div class="card border-left-warning shadow h-100 py-2">#}
{#            <div class="card-body">#}
{#                <div class="row no-gutters align-items-center">#}
{#                    <div class="col mr-2">#}
{#                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-size: medium">Energy Tips</div>#}
{#                        <div class="h5 mb-0 font-weight-bold text-gray-800">Did the work,energy weekly?</div>#}
{#                    </div>#}
{#                    <div class="col-auto">#}
{#                        <i class="fas fa-comments fa-2x text-gray-300"></i>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}

{#    <!-- Active Energy Tips Card  -->#}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-size: medium">Energy Tips</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="{% plotly_class name='tips' %}" >
                            {% plotly_app name='tips' ratio=0.9 %}
                        </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-12 mb-4">

            {#    <div class="container-fluid row col-md-12">#}
            {#        <h2>Real-Time Energy Graphs Here</h2>#}
            {#    </div>#}
            {##}
            {#    <div class="container-fluid row col-md-12">#}
            {#        <h2>Historical Energy Graphs Here</h2>#}
            {#    </div>#}
            {##}
            {#    <div class="container-fluid row col-md-12">#}
            {#        <h2>Cost Saving Graphs Here</h2>#}
            {#    </div>#}


            <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Historical Energy Consumption</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Energy Breakdown by Plug Load </h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                                <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Social
                    </span>
                                <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- Content Column -->
                <div class="col-xl-8 col-lg-7">

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Basic Card For Cost Savings</h6>
                        </div>
                        <div class="card-body">
                            The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                        </div>
                    </div>
                </div>

                {# Use this to show dash and plotly graphs #}

{#                <div class="{% plotly_class name='simpleexample' %} card" style="height: 80%; width: 80%">#}
{#                    {% plotly_app name='simpleexample' ratio=0.60  %}#}
{#                </div>#}
{##}
{#                <br>#}
{#                {{ plot1 | safe }}#}

{#                <div class="col-xl-8 col-lg-7">#}
{#                    <div class="card shadow mb-4">#}
{#                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">#}
{#                            <h6 class="m-0 font-weight-bold text-primary">Historical Energy Consumption and Cost</h6>#}
{#                        </div>#}
{#                        <div class="card-body" style="height: 100%; width: 100%">#}
{#                            <div class="{% plotly_class name='historical_consumption' %}" style="height: 100%; width: 100%">#}
{#                                {% plotly_app name='historical_consumption' ratio=1.0 %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>

        <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Historical Energy Consumption and Relative Cost</h6>
                    </div>
                    <div class="card-body" style="height: 100%; width: 100%">
                        <div class="{% plotly_class name='historical_consumption' %}" style="height: 100%; width: 100%">
{#                            {% plotly_app name='historical_consumption' ratio=1.0 %}#}
{#                            {%plotly_app_bootstrap name="historical_consumption" aspect="16by9"%}#}
                            {% plotly_app name='historical_consumption' ratio=0.9 %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Cost Savings of Plug Loads</h6>
                    </div>
                    <div class="card-body" style="height: 100%; width: 100%">
                        <div class="{% plotly_class name='cost_savings' %}" style="height: 100%; width: 100%">
                            {% plotly_app name='cost_savings' ratio=1.0 %}
                        </div>
                    </div>
                </div>
            </div>


        </div>



     <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Weekly Progress</h6>
                    </div>
                    <div class="card-body" style="height: 100%; width: 100%">
                        <div class="{% plotly_class name='progress' %}" style="height: 100%; width: 100%">
                            {% plotly_app name='progress' ratio=1.0 %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

    <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Energy Tips</h6>
                    </div>
                    <div class="card-body" style="height: 100%; width: 100%">
                        <div class="{% plotly_class name='tips' %}" style="height: 100%; width: 100%">
                            {% plotly_app name='tips' ratio=1.0 %}
                        </div>
                    </div>
                </div>
            </div>


        </div>


    <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Energy Tips</h6>
                    </div>
                    <div class="card-body" style="height: 100%; width: 100%">
                        <div class="{% plotly_class name='tips' %}" style="height: 100%; width: 100%">
                            {% plotly_app name='tips' ratio=1.0 %}
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


    {#   <div class="{% plotly_class name='cost_savings' %} card" style="height: 60%; width: 200%">#}
    {#{% plotly_app name='cost_savings' ratio=0.90  %}#}



{#    <script src="{% static 'dash/component/dash_bootstrap_components/_components/dash_bootstrap_components.min.js' %}"></script>#}
{% endblock %}

